<div class="container">
    <form class="example-form">
      <h2>Login</h2>
      <mat-form-field class="example-full-width" ngDefaultControl [formControl]="email" required>
        <mat-label>Email</mat-label>
        <input matInput>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" ngDefaultControl [formControl]="password" required>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
  
      <button mat-stroked-button color="basic">Iniciar Session</button>
      <p>Forgot password? <a href="">Register</a></p>
    </form>
  </div>
  