


<div class="container">
    
    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>Mostrar cuartos</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>Reservar cuarto</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container" (click)="postClient()">
        <mat-card class="matcad">
            <mat-card-title>Registrar cliente</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>Cambiar estado de cuarto</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>*funcionalidad*</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>*funcionalidad*</mat-card-title>
        </mat-card>
    </div>

    <div class="card-container">
        <mat-card class="matcad">
            <mat-card-title>*funcionalidad*</mat-card-title>
        </mat-card>
    </div>

</div>
